<!DOCTYPE html>
<html lang="en">

  <head>
    <title>WTF - Decision Maker</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" style="height:16px; width:16px;" href="http://cultofthepartyparrot.com/parrots/parrot.gif" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900" rel="stylesheet">

    <!-- JS and JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <!-- Flash JS and CSS -->
    <script type="text/javascript" src="../vendor/jquery.flash.js"></script>
    <link rel="stylesheet" href="../vendor/jquery.flash.css" type="text/css" />
  </head>


    <body id="splash">
      <main class="container-fluid">
        <section class="container">
            <h1 id="bigname">WTF</h1>
            <h2 id="bigtag">Where's The Fun? Decision Maker</h2>
              <button id="splashbutton" type="submit" class="btn btn-secondary btn-lg">Create Poll</button>
        </section>
      </main>
    </body>
</html>
