@import 'variables';


nav {
  background-color: lighten($blue, 10%);
  height: 100px;
  width: 100%;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  cursor: default;

  .header {
    color: $raspberry;
    font-size: 4em;
    font-weight: 900;
    margin: 0em .1em 0em .5em;
  }

  .tagline {
    font-size: 1.25em;
    color: $white;
    font-weight: 200;
  }

  #create-button {
    float: right;
    border-radius: 5px;
    width: 150px;
    height: 50%;
    margin-top: 1.5em;
    margin-right: 2em;
    color: $raspberry;
    background-color: $white;
    opacity: .9;
  }

  #create-button:hover {
    float: right;
    border-radius: 5px;
    width: 150px;
    height: 50%;
    margin-top: 1.5em;
    margin-right: 2em;
    color: $white;
    background-color: $raspberry;
    opacity: 1;
    cursor: pointer;
  }

  #create-button span {
    font-size: 1.25em;
  }
}

body {
  background-color: $white;
  margin-top: 150px;
  cursor: default;

  h1 {
    color: $blue;
    font-weight: 800;
    font-size: 2em;
  }

  h2 {
    color: $blue;
    font-weight: 800;
    font-size: 1.25em;
  }

  .container-fluid {
    width: 70%;
  }

  #new-poll {
    background-color: $white;
    /*border: 0.1em solid $grey;*/
    border-radius: 1em;
    padding: 25px 25px 100px 25px;
    margin-top: 120px;
  }

  #email {
    width: 48%;
    height: 38px;
    float: right;
    margin: 0em 0em 0em .125em;
  }

  .form-control {
    margin-top: .25em;
  }

  #personalinfo {
    padding-top: 4em;
  }

  #optioninfo {
    padding-top: .5em;
  }

  #firstname {
    width: 25%;
    float: left;
    margin: 0em .125em 0em 0em;
  }

  #lastname {
    width: 25%;
    float: left;
    margin: 0em 0em 0em .125em;
  }

  .form-option {
    float: left;
    width: 40%
  }

  .form-desc {
    float: right;
    width: 55%;
  }

  .form-button {
    float: right;
    padding-top: 1em;
  }

  .form-group {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  #pollname {
    text-align: center;
  }

  .intro {
    font-weight: 200;
    margin: 1em 0em 1em 10em;
    width: 70%;
    text-align: center;
  }

  .option {
    color: $blue;
    font-size: 1.5em;
    font-weight: 900;
    padding: 0em 1em 0em .5em;
  }

  .option-desc {
    color: $grey;
    font-weight: 300;
  }

  .card {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
  }

  #votebutton {
    margin-right: 11em;
  }

  .shoutout {
    color: $blue;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
  }

  .featureletter {
    color: $raspberry;
  }

  #partyparrot {
    border: 10px solid $blue;
    border-radius: 5em;
    width: 15%;
  }

  .badge {
    margin: 0em 2em 0em 0em;
    font-size: 1em;
    font-weight: 900;
    border-radius: 5px;
  }

  .badge-pill {
    padding: 14px;
    float: right;
  }

  .badge-primary {
    background-color: $raspberry;
  }

  #flash {
    z-index: 5500;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: lighten($blue, 10%);
    color: $white;
    width: 60%;
    padding: 25px 20px;
    margin: 0;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    border: none;
    filter: alpha(opacity=280);
    opacity: 1;
    border-radius: 30px 30px 0 0;
  }

  #flash div.flash_close {
    top: -6px;
    right: -6px;
    position: absolute;
    height: 30px;
    width: 30px;
    background: url('/images/close.png') top left no-repeat;
    cursor: pointer;
    z-index: 181;
  }

  img#partyparrot {
    display: block;
    margin: auto;
  }

  .uhoh {
    text-align: center;
  }
}
