@import 'variables';


nav {
  background-color: lighten($blue, 10%);
  height: 100px;
  width: 100%;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 1;

  .header {
    color: $raspberry;
    font-size: 4em;
    font-weight: 900;
    margin: 0em .1em 0em .5em;
  }

  .tagline {
    font-size: 1.25em;
    color: $white;
    font-weight: 200;
  }

  #create-button {
    float: right;
    border-radius: 5px;
    width: 150px;
    height: 50%;
    margin-top: 1.5em;
    margin-right: 2em;
    color: $raspberry;
    background-color: $white;
    opacity: .9;
  }

  #create-button:hover {
    float: right;
    border-radius: 5px;
    width: 150px;
    height: 50%;
    margin-top: 1.5em;
    margin-right: 2em;
    color: $white;
    background-color: $raspberry;
    opacity: 1;
    cursor: pointer;
  }

  #create-button span {
    font-size: 1.25em;
  }
}

body {
  background-color: $white;
  margin-top: 150px;

  .h1 {
    color: $blue;
    font-weight: 800;
    font-size: 2em;
  }

  .h2 {
    color: $blue;
    font-weight: 800;
    font-size: 1.25em;
    display: inline-block;
    padding-top: 1em;
  }

  .container-fluid {
    width: 70%;
  }

  #new-poll {
    background-color: $white;
    /*border: 0.1em solid $grey;*/
    border-radius: 1em;
    padding: 25px 25px 100px 25px;
    margin-top: 120px;
  }

  #form_email {
    width: 45%;
    float: right;
  }

  #email-help {
    float:right;
    display: inline-block;
    float:  right;
  }

  .form-name {
    width: 25%;
    float: left;
  }

  .form-option {
    float: left;
    width: 40%
  }

  .form-desc {
    float: right;
    width: 55%;
  }

  .form-button {
    float: right;
    padding-top: 1em;
  }

  .form-group {
    margin-bottom: 0em;
  }

  #pollname {
    text-align: center;
  }

  .option {
    color: $blue;
    font-size: 1.25em;
    font-weight: 900;
    padding: 1em 2em 1em 1em;
  }

  .option-desc {
    color: $grey;
    font-weight: 400;
    margin: 1em;
  }

  .card {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .thankyou {
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
    color: $raspberry;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    margin: auto;
  }

  .thanks {
    font-size: 6em;
    font-weight: 900;
    color: $blue;
  }

  .featureletter {
    font-size: 6em;
    font-weight: 900;
    color: $blue;
  }
}
